.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.green {
    background: limegreen;
}

.green-text {
    color: mediumblue;
}

.yellow {
    background: yellow;
}

.yellow-text {
    color: orangered;
}

.lightgreen {
    background: lightgreen;
}

.lime-text {
    color: darkslateblue;
}